@media(min-width: 960px)  {
  body {
    background: #eeeeee;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .header {
    height: 300px;
  }

  .feature .ss img {
    max-width: 200px;
  }
}
